.sh-docs-content {
  overflow-wrap: break-word;

  h1 {
    @apply text-4xl lg:text-5xl;
    + p:first-of-type {
      @apply leading-normal;
    }
    .anchor {
      display: none;
    }
  }

  h2, h3, h4 {
    @apply relative;
  }

  h2 {
    &:not(:first-of-type) {
      @apply border-t border-gray-200 border-dashed pt-12 dark:border-white/20;
    }
  }

  h2 > .anchor,
  h3 > .anchor,
  h4 > .anchor {
    @apply absolute top-0 -left-7 pr-2 no-underline text-white block dark:text-gray-900;
    text-shadow: -1px -1px 0 theme('colors.primary.500'),
    1px -1px 0 theme('colors.primary.500'),
    -1px 1px 0 theme('colors.primary.500'),
    1px 1px 0 theme('colors.primary.500');
    transition: all .2s ease-in-out;
    &:hover {
      @apply text-primary-600;
      text-shadow: none;
    }
  }

  h2:not(:first-of-type) > .anchor { @apply top-12; }

  a svg.external {
    @apply inline-block;
    vertical-align: text-top;
    color: rgba(0,0,0, .6);
  }

  ul, ol {
    @apply mt-4 mb-6;
  }

  > ol {
    @apply list-none text-base relative pl-0;
    counter-reset: item;
    z-index: 20;

    > li {
      @apply relative pl-10 mb-2;
      z-index: 5;
    }

    > li {
      &::before {
        @apply absolute top-0 left-0 mt-px flex items-center justify-center size-6 bg-primary-600 text-white rounded-full text-sm font-semibold;
        content: counter(item);
        counter-increment: item;
      }
      &::after {
        @apply absolute top-[calc(1.875rem+1px)] bottom-0 left-[0.6875rem] w-px bg-gray-200 dark:bg-gray-200/5
      }
    }
  }

  table {
    @apply bg-white divide-y divide-gray-200 overflow-hidden text-sm ring-1 ring-gray-200 rounded-lg min-w-full my-0 dark:ring-white/10 dark:divide-white/10 dark:bg-gray-800;

    thead {
      tr {
        @apply bg-primary-50/50 dark:bg-gray-800;
      }
      th {
        @apply px-3 py-2.5 text-left font-semibold text-gray-900 dark:text-white;
      }
    }

    tbody {
      @apply divide-y divide-gray-200 dark:divide-white/10;

      td {
        @apply px-3 py-2 text-gray-700 leading-6 dark:text-gray-300;

        code {
          @apply whitespace-nowrap !bg-transparent text-xs md:text-sm font-semibold !text-primary-600 dark:!text-primary-500;
        }
      }
    }
  }
}

figure,
.screenshot {
  @apply pointer-events-none relative bg-gradient-to-br from-primary-100 to-primary-500 dark:from-primary-800/50 dark:to-primary-500/50 p-3 md:p-6 my-16 rounded-lg;

  img {
    @apply ring ring-gray-100 rounded-lg mx-auto dark:ring-white/10;
  }
}

.simple-screenshoot {
  @apply rounded-lg ring-1 ring-gray-100 dark:ring-white/10
}

.caption,
figure figcaption {
  @apply bg-gray-900 rounded-md px-4 py-1.5 text-primary-200 text-sm inline-block antialiased absolute -right-2 -bottom-4 md:-right-4 md:bottom-2 dark:ring-1 dark:ring-white/10;

  code {
    font-size: 12px !important;
    padding: 1px 2px !important;
  }
}

.hint {
  @apply relative bg-gray-50 leading-6 px-6 py-5 my-10 text-gray-900 border border-gray-300 rounded-lg dark:text-white dark:bg-white/10;

  .hint-title {
    @apply bg-gray-700 rounded text-gray-300 inline-block text-xs py-1.5 px-2 uppercase leading-none absolute -left-4 -top-2 font-semibold tracking-wide transition duration-300 ease-in-out;
  }

  &.tip {
    @apply bg-white text-primary-800 border-primary-600 dark:bg-primary-800/20 dark:border-primary-400/20 dark:text-white;

    .hint-title {
      @apply bg-primary-600 text-white ring-1 ring-primary-600;
    }
  }

  &.info {
    @apply bg-gray-100 dark:bg-gray-400/10 dark:text-gray-300 dark:border-white/10;

    .hint-title {
      @apply text-white ring-1 ring-gray-800;
    }
  }

  &.warning {
    @apply bg-warning-50 text-warning-900 border border-warning-300 dark:bg-warning-400/10 dark:text-warning-500 dark:border-warning-400/20;

    .hint-title {
      @apply bg-warning-600 text-white ring-1 ring-warning-600;
    }

    a {
      @apply text-warning-900 hover:text-warning-700 font-medium;
    }

    code:not(.torchlight) {
      @apply text-primary-600 !important;
    }
  }

  &.danger {
    @apply bg-danger-50 text-danger-800 border border-danger-300 dark:bg-danger-400/10 dark:text-danger-400 dark:border-danger-400/20;

    .hint-title {
      @apply bg-danger-600 text-white ring-1 ring-danger-600;
    }

    code:not(.torchlight) {
      @apply text-primary-600 !important;
    }
  }

  &.best-practice {
    @apply bg-sky-50 text-gray-950 border subpixel-antialiased border-sky-300 dark:bg-sky-400/10 dark:text-sky-400 dark:border-sky-400/20;

    .hint-title {
      @apply bg-white text-sky-500 ring-1 ring-sky-600 dark:bg-sky-600 dark:text-white;
    }

    code:not(.torchlight) {
      @apply text-warning-500 !important;
    }

    a { @apply text-black font-bold; }
  }

  :not(.best-practice) code:not(.torchlight) {
    @apply bg-transparent text-sky-500 font-bold mx-px text-sm p-0;
  }
}
