@font-face {
  font-family: 'Geist';
  src: local('Geist Light'), local('./fonts/Geist/Geist-Light'),
  url('./fonts/Geist/Geist-Light.woff2') format('woff2'),
  url('./fonts/Geist/Geist-Light.woff') format('woff'),
  url('./fonts/Geist/Geist-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: local('Geist Regular'), local('./fonts/Geist/Geist-Regular'),
  url('./fonts/Geist/Geist-Regular.woff2') format('woff2'),
  url('./fonts/Geist/Geist-Regular.woff') format('woff'),
  url('./fonts/Geist/Geist-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: local('Geist Medium'), local('./fonts/Geist/Geist-Medium'),
  url('./fonts/Geist/Geist-Medium.woff2') format('woff2'),
  url('./fonts/Geist/Geist-Medium.woff') format('woff'),
  url('./fonts/Geist/Geist-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: local('Geist SemiBold'), local('./fonts/Geist/Geist-SemiBold'),
  url('./fonts/Geist/Geist-SemiBold.woff2') format('woff2'),
  url('./fonts/Geist/Geist-SemiBold.woff') format('woff'),
  url('./fonts/Geist/Geist-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: local('Geist Bold'), local('./fonts/Geist/Geist-Bold'),
  url('./fonts/Geist/Geist-Bold.woff2') format('woff2'),
  url('./fonts/Geist/Geist-Bold.woff') format('woff'),
  url('./fonts/Geist/Geist-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Geist';
  src: local('Geist Bold'), local('./fonts/Geist/Geist-Black'),
  url('./fonts/Geist/Geist-Black.woff2') format('woff2'),
  url('./fonts/Geist/Geist-Black.woff') format('woff'),
  url('./fonts/Geist/Geist-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
